<!DOCTYPE html>
<html>
  <head>
    <title>Organ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
